
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
  font-family: "Maven Pro", sans-serif;
  padding-top: 70px;
  overflow-x: hidden;
  
}

.full-screen {
  padding: 8rem 0;
}


ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  font-weight: normal;
  text-decoration: none !important;
  transition: all 0.4s ease;
}
a:hover {
  color: #00a2ff !important;
}

.navbar-brand .uil {
  font-size: 40px;
}

p {
  font-size: 18px;
  color: #353535;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  color: #212121;
}

h2 {
  color: #353535;
}

h3 {
  color: #353535;
}
h4 {
  color: #353535;
}

.custom-btn {
  background: #eee;
  color: #353535;
  font-weight: bold;
  border-radius: 50px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
}
.custom-btn:hover {
  color: #00a2ff;
}
.custom-btn.custom-btn-bg {
  background: #353535;
  color: #ffffff;
}
.custom-btn.custom-btn-bg:hover {
  background: #00a2ff;
  color: #ffffff !important;
}

.animated {
  position: relative;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  min-width: 300px;
  position: relative;
}

.animated-item {
  color: #00a2ff;
}

.animated-item {
  font-size: 38px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}
.animated-item:nth-child(2n+2) {
  animation-delay: 2s;
}
.animated-item:nth-child(3n+3) {
  animation-delay: 4s;
}



@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.navbar {
  position: fixed;
  height: 70px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  will-change: transform;
  transition: transform 200ms linear;
}
.navbar[class*="-unpinned"] {
  transform: translate(0, -150%);
}
.navbar[class*="-pinned"] {
  transform: translate(0, 0);
}
.navbar[class*="headroom--not-top"] {
  background: #ffffff;
  border-bottom: 1px solid #f0f0f0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0 20px;
}

.nav-link {
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
}
.nav-link span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}
.nav-link span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #00a2ff;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
  transform: translateY(-100%);
}


.main_title {
  text-align: center;
  margin-bottom: 50px;
}

.main_title2 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.main_title3 {
  
  margin-bottom: 10px;
 
}




.projects_item {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px; }
  .projects_item:before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 300ms ease; }
  .projects_item .projects_text {
    position: absolute;
    left: 0px;
    bottom: 30px;
    padding-left: 30px;
    padding-right: 30px; }
    .projects_item .projects_text h4 {
      font-size: 21px;
      font-weight: bold;
      color: #353535;
      margin-bottom: 5px;
      transition: all 300ms linear 0s;
      cursor: pointer; }
    .projects_item .projects_text p {
      margin-bottom: 0px;
      font-size: 14px; }
  .projects_item:hover:before {
    opacity: 1; }
  .projects_item:hover .projects_text h4 {
    background: linear-gradient(to right, #00a2ff 0%, #00a2ff 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }




.about_item {

  color: #353535;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  line-height: normal;
  overflow: hidden;
  
  text-align: center;
  background-color: #eee;
  border-radius: 50px;
  margin-bottom: 10px;
  
}

  .about_item:before {
    
   
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    
    }
    .contact-form {
      position: relative;
      
    }
    .contact-form .form-control {
      background: transparent;
      border-radius: 2px;
      outline: none;
      box-shadow: none;
      font-weight: bold;
      margin: 16px 0;
    }
    .contact-form .form-control:not(textarea) {
      height: 48px;
    }
    .contact-form .form-control:hover, .contact-form .form-control:focus {
      border-color: #00a2ff;
    }
    .contact-form .submit-btn {
      background: #00a2ff;
      border-radius: 50px;
      color: #ffffff;
      font-weight: bold;
      border: 0;
      cursor: pointer;
      transition: all 0.4s ease;
    }
    .contact-form .submit-btn:hover {
      background:  #353535;
    }
    .contact-details{
      
      color: #353535;
      font-weight: bold;
      font-size: 20px;
      line-height: normal;
      overflow: hidden;
      
      
      
    
    }
  .contact_link p, .contact_link a{
    color: #353535;
    font-weight: bold;
   font-size: 20px;
  }
  .flexall{
    display: flex;
  }
  .flex {
    padding: 10px; 
  }
  .flex .fab {
    font-size: 40px;
    color:#00a2ff;
  }
  .fab:hover {
    color: #353535;
  }




@media (max-width: 991px) {
  .full-screen {
    padding-bottom: 4rem;
  }

  .home-image {
    margin-top: 4em;
  }

}

@media (max-width: 767px) {
  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 2em;
  }

  .animated-item {
    font-size: 28px;
  }

  .navbar-collapse {
    background: #ffffff;
    text-align: center;
    padding-bottom: 20px;
  }

  
  .navbar-expand-sm .navbar-nav .nav-link {
    padding: 3px 20px;
  }
  

}


@media (max-width: 580px) {
	.animated-info {
		min-width: 300px;
	}
  .animated-item {
    font-size: 30px;
  }

  .custom-btn-group {
    text-align: center;
  }

  .custom-btn {
    display: block;
    margin: 10px 0;
  }
  .full-screen {
    padding: 3rem 0;
  }

  .custom-grid{
    text-align: center;
    align-content: center;
    align-items: center;
  }
  .about_item{
    margin: 10px;
    display: block;
  }
  .projects_item:before{
    align-items: center;
  }
  .projects_item {
    align-content: center;
    align-items: center;
  }
  .navbar{
    display:none;
   
    }
  .flexall{
      display: flex;
      justify-content: center;
  }
  

}

@media (max-width: 320px) {
  .animated-text {
    margin-top: 0;
  }

  .home-text {
    text-align: center;
  }

  .projects_item {
    align-content: center;
    align-items: center;
  }
  .projects_item:before{
    align-items: center;
    align-content: center;
  }

  .navbar{
  display:none;

 
  }

  .full-screen {
    padding: 3rem 0;
  }

  .mobile-block {
    display: block;
  }
  

  .about_item{
    margin: 10px;
  }

  .flexall{
    display: flex;
    justify-content: center;
  }

}

